<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link rel="stylesheet" href='{% static "css/mystyle.css" %}'>
  <title>Bootstrap Theme</title>
</head>

<body>
  <div class="container">
    <header id="main-header" style="position: sticky;">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="{% static 'images/profile1.jpg' %}"class="img-fluid" style="width:100%;height:100%"  alt="My image">
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div><h1 class="display-4" style="display:block">Yekabote Pavan Kumar</h1></div>

                <div class="d-none d-md-block">
                  <a href="https://ypavankumar709@gmail.com" class="text-white">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
                <div>
                  <a href="https://linkedin.com/in/pavan-kumar-6a8b64194" class="text-white">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
                <div>
                  <a href="https://github.com/pavan709" class="text-white">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="p-4" style="background-color:black;color:white">
              Full Stack Web Developer, App Developer(React Native)
            </div>

            <div>
              <div class="d-flex flex-row text-white align-items-stretch text-center">
                <div class="port-item p-4 bg-primary" style="flex-grow: 1;align-item:stretch" data-toggle="collapse" data-target="#home">
                  <i class="fas fa-home fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Home</span>
                </div>
                <div class="port-item p-4 bg-success" style="flex-grow: 1;" data-toggle="collapse" data-target="#resume">
                  <i class="fas fa-graduation-cap fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Resume</span>
                </div>
                <div class="port-item p-4 bg-warning" style="flex-grow: 1;" data-toggle="collapse" data-target="#work">
                  <i class="fas fa-folder-open fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Work</span>
                </div>
                 <div class="port-item p-4 bg-danger" style="flex-grow: 1;" data-toggle="collapse" data-target="#contact">
                  <i class="fas fa-user-graduate fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Education</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- HOME -->
    <div id="home" class="collapse show">
      <div class="card card-body bg-primary text-white py-5">
        <h2>Welcome To My Portfolio</h2>
        <p class="lead">An enthusiastic and quick learner, eager to work for an organization which provides me with the opportunity to utilize my skills and
knowledge to grow along with the organization.</p>
      </div>

      <div class="card card-body py-5">
        <h3>My Skills</h3>
        <hr>
        <h4>C++</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Data Structures and Algorithm</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:90%"></div>
        </div>
        <h4>HTML 5</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>CSS 3</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:70%"></div>
        </div>
        <h4>JavaScript</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:70%"></div>
        </div>

        <h4>Java</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:60%"></div>
        </div>
        <h4>Python</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:60%"></div>
        </div>
        <h4>django</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:60%"></div>
        </div>
        <h4>React Native</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:50%"></div>
        </div>
        <h4>ReactJs</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:50%"></div>
        </div>
      </div>
    </div>

    <!-- RESUME -->
    <div id="resume" class="collapse">
      <div class="card card-body bg-success text-white py-5">
        <h2>My Resume</h2>
      </div>

      <div class="card card-body py-5">
        <h3>What Have I Achieved?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque similique saepe inventore rem vitae esse.</p>

          <div class="" style="display:flex;flex-direction:row;justify-content:space-between">
            <div class="card" style="margin:10px;width:33%;">
              <div class="card-body">
                <h4 class="card-title">Mastered Data Structurs and Algorithms</h4>
                <p class="card-text">Learned DSA by taking course in geeksforgeeks portal, dedicated 4 months of daily 8-10hrs</p>

              </div>
              <div class="card-footer">
                <p class="p-2 mb-3 bg-dark text-white">
                  <a href="https://geeksforgeeks.com" class="text-white">Goto geeksforgeeks</a>
                </p>

              </div>
            </div>

            <div class="card" style="margin:10px;width:33%;">
              <div class="card-body">
                <h4 class="card-title">Codeforces</h4>
                <p class="card-text">Achieved max 1073 rating by doing competitive programming in codeforces</p>

              </div>
              <div class="card-footer">
                <p class="p-2 mb-3 bg-dark text-white">
                  <a href="https://codeforces.com/profile/pavan709" class="text-white">Goto Codeforces</a>
                </p>

              </div>
            </div>

            <div class="card" style="margin:10px;width:33%;">
              <div class="card-body">
                <h4 class="card-title">Hakerrank</h4>
                <p class="card-text">Achieved Gold badge in python in Hakerrank</p>

              </div>
              <div class="card-footer">
                <p class="p-2 mb-3 bg-dark text-white">
                  <a href="https://hakerrank.com" class="text-white">Goto Hakerrank</a>
                </p>

              </div>
            </div>

          </div>
      </div>
    </div>

    <!-- WORK -->
    <div id="work" class="collapse">
      <div class="card card-body bg-warning text-white py-5">
        <h2>My Work</h2>
      </div>

      <div class="card card-body py-5">
        <h3>What Have I Built?</h3>
        <p>I have build a <a href="http://pavan809.pythonanywhere.com/">BLOG GROUP</a>  web application using DJANOG python framework,html,css,bootstrap and sql , there users can post personal blogs or a group blog</p>
        <div class="row no-gutters">
          <div class="col-md-3">
            <a href="{% static 'images/img1.png' %}" data-toggle="lightbox">
              <img src="{% static 'images/img1.png' %}" alt="My image"  class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% static 'images/img2.png' %}" data-toggle="lightbox">
              <img src="{% static 'images/img2.png' %}" alt="My image"  class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% static 'images/img3.png' %}" data-toggle="lightbox">
              <img src="{% static 'images/img3.png' %}" alt="My image"  class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% static 'images/img4.png' %}" data-toggle="lightbox">
              <img src="{% static 'images/img4.png' %}" alt="My image"  class="img-fluid">
            </a>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-3">
            <a href="{% static 'images/img5.png' %}"data-toggle="lightbox">
              <img src="{% static 'images/img5.png' %}" alt="My image"  class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% static 'images/img6.png' %}" data-toggle="lightbox">
              <img src="{% static 'images/img6.png' %}" alt="My image"  class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% static 'images/img7.png' %}"data-toggle="lightbox">
              <img src="{% static 'images/img7.png' %}" alt="My image"  class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="{% static 'images/img7.png' %}" data-toggle="lightbox">
              <img src="{% static 'images/img8.png' %}" alt="My image"  class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>

<!--     CONTACT-->
    <div id="contact" class="collapse">
      <div class="card card-body bg-danger text-white py-5">
        <h2>Education</h2>
      </div>

      <div class="card card-body py-5">
        <h3>What Have I Achieved?</h3>

          <div class="" style="display:flex;flex-direction:row;justify-content:space-between">
            <div class="card" style="margin:10px;width:33%;">
              <div class="card-body">
                <h4 class="card-title">Masters of Computer Applications(PG)</h4>
                <p>CGPA: Incomplete</p>
                <p class="card-text">College:Sree Vivekananda Institute of Science</p>
                <p>Place: Guntakal, Andhra Pradesh</p>

              </div>
              <div class="card-footer">
                <p class="p-2 mb-3 bg-dark text-white text-center">
                  2020-2022
                </p>
              </div>
            </div>

            <div class="card" style="margin:10px;width:33%;">
              <div class="card-body">
                <h4 class="card-title">Bsc Maths, Physics, Computer Science (UG)</h4>
                <p>CGPA: 7.9</p>
                <p class="card-text">College: The Adoni Arts and Science College</p>
                <p>Place: Adoni, Andhra Pradesh</p>
              </div>
              <div class="card-footer">
                <p class="p-2 mb-3 bg-dark text-white text-center">
                  2017-2020
                </p>

              </div>
            </div>

            <div class="card" style="margin:10px;width:33%;">
              <div class="card-body">
                <h4 class="card-title">Intermediate(MPC)</h4>
                <p>CGPA: 9.0</p>
                <p class="card-text">College: Akshara Sree Jr college</p>
                <p>Place: Adoni, Andhra Pradesh</p>

              </div>
              <div class="card-footer">
                <p class="p-2 mb-3 bg-dark text-white text-center">
                  2015-2017
                </p>

              </div>
            </div>

          </div>
      </div>

    </div>


    <!-- FOOTER -->
    <footer id="main-footer" class="p-5 bg-dark text-white">
      <div class="row">
        <div class="col-md-6">
          <h5>contact: +91 709-3000-633</h5>
        </div>
      </div>
    </footer>
  </div>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  <script>
    $('.port-item').click(function () {
      $('.collapse').collapse('hide');
    });

    $(document).on('click', '[data-toggle="lightbox"]', function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>
</body>

</html>